torch
torchvision
torchaudio
accelerate
scipy
librosa
huggingface-hub
munch
einops
descript-audio-codec
gradio
pydub
resemblyzer
jiwer
transformers
FreeSimpleGUI
soundfile
sounddevice
modelscope
funasr
numpy
pyyaml
python-dotenv
hydra-core